@import url(//db.onlinewebfonts.com/c/3f4943f4e662577a8113309f864540a4?family=ITC+Benguiat);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 4em;
    background-color: #000000;    
    color: red;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.page-header {
    font-size: 28px;
    font-family: 'ITC Benguiat', serif;
    font-weight: bolder;
}

#main {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    align-items: center;
    height: 100vh;
}

#nav {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link-bar {
    display: flex;
    align-content: center;
    margin: 12px;
    min-height: 32px;
    border-radius: 32px;
    background-color: red;
}

.nav-link a:visited {    
    text-decoraton: none;
    color: #ffffff;
}

.nav-link {    
    color: #ffffff;
    padding: 8px;    
    text-decoraton: none;
}

.header {
    display: flex;
    justify-content: center;    
    font-family: 'ITC Benguiat', serif;
    color: #ffffff;
}

.post-header {
    display: flex;
    flex-direction: row;
}

.placeholder {
    width: 33vw
}

.post-listing {
    display: flex;
    flex-direction: column;
    width: 75vw;
    min-height: 96px;
    border-radius: 18px;
    border: .5px solid #ff0000;
    background-color: #cecece;
    color: #242323;
    margin: 12px;
    padding: 12px;
}

.post-title {
    display: flex;
    border-bottom: .5px solid #243323;
    padding-bottom: 4px;
    font-family: 'ITC Benguiat', serif;
}

.description {
    display: flex;
    padding-top: 4px;
}

.button {
    background-color: white;
    height: 72px;
    padding: 8px;
    border-radius: 32px;
    font-family: 'ITC Benguiat', serif;
    text-decoration: none;
}

.write-link {
    margin-left: 20vw;
}

.button a: {
    color: #000000;
}